# PostgreSQL Connection URL
# Exemple pour Supabase, Neon, ou PostgreSQL local
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ama_db?schema=public"

# Paramètres du site
NEXT_PUBLIC_SITE_URL="https://association100000ames.org"
NEXT_PUBLIC_DEFAULT_LANG="fr"
